# ─── salts & keys ──────────────────────────────────────────
# Copy this file to stack.env and fill in values from https://roots.io/salts.html
AUTH_KEY=change_me
SECURE_AUTH_KEY=change_me
LOGGED_IN_KEY=change_me
NONCE_KEY=change_me
AUTH_SALT=change_me
SECURE_AUTH_SALT=change_me
LOGGED_IN_SALT=change_me
NONCE_SALT=change_me
