# Ignore version control
.git
.gitignore

# Dependencies
node_modules
vendor

# WordPress runtime directories
web/app/uploads
web/app/cache
web/wp
web/.htaccess

# Logs and temp files
*.log
*.tmp
tmp

# Environment files
.env
.env.*

# Editor directories
.vscode
.idea
.DS_Store
